%texts{
  background-color: white;
  border-radius: 15px;
  margin-top: 4%;
  margin-right: 7%;
  margin-left: 7%;
  padding-left: 5%;
  padding-right: 5%; 
  font-family: sans-serif;
}

body{
	background-color: lightgrey;
}

@media (min-width: 550px) {
    #landing {
    	height: 150px;
        background-image: url(aboutimage.jpg);
       	background-size: cover;
       	background-repeat: no-repeat;
       	text-align: center;
    }
}

@media (max-width: 549px) {
    #landing {
    	background-color: lightblue;
    	height: 150px;
    	justify-content: center;
	}
}
#landing > h1{
	padding-top: 4%;
}

#mission{
  @extend %texts;
  padding-bottom: 2%;
}

#story{
  @extend %texts;
    padding-bottom: 1.5%;
}

footer {
  margin-top: 5%;

  a {
  color: white;
  }
  p {
  color: white;
}

}
.indigo {
  background-color: #3f51b5;
}

.footer-copyright {
  background-color: rgba(0,0,0,.2);
}